
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit; 
}
    
.top-banner {
    background-color: #CED3CA;
    color: black;
    padding: 15px 20px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 14px;
}

.button1 {
    background-color: black;
    color: #F7F7F7;
    border: 0px solid;
    border-radius: 2px;
    padding: 1px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 12px;
    line-height: 28px;
}

.logo img {
    height: 50px; 
}

.nav-links {
    display: flex;
    gap: 20px;
}

.roboto-custom-black {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: black;
}

.roboto-custom-f7f7f7 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #F7F7F7; 
}

.centered-text {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}