
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    object-fit: cover;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
}

.top-banner {
    background-color: #CED3CA;
    color: black;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 10px 0;
}

.button1 {
    background-color: black;
    border: none;
    border-radius: 2px;
    padding: 1px 20px;
    font-size: 12px;
    line-height: 28px;
    color: #F7F7F7; 
    cursor: pointer;
}

header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 37px 20px; 
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    box-sizing: border-box;
    height: 50px; 
    margin: 10px 30px 10px 40px;
}

.nav-links {
    font-size: 16px;
    display: flex;
    right: 50%;
    text-decoration: none;
    color: inherit; 
}

.nav-links a {
    text-decoration: none;
    color: inherit; 
}


.first {
    position: relative;
    right: 107%;
    bottom: -17px;
    gap: 40px;
}

.second {
    position: relative;
    gap: 16px;
}

.nav-links img {
    cursor: pointer;
}

.hero-section {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.full-screen-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 92%;
    left: 7%;
    transform: translateY(-50%);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-underline-offset: 0.3em;
}

.hero-content a {
    font-size: 15px; 
    font-weight: 400;
    text-decoration: underline;
    color: #fff;
}

.hero-content a:hover {
    opacity: 0.8;
}

.hero-content p {
    font-size: 18px;
    margin: 0;
}

main p {
    margin: 10px 0;
}

footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.vertical-line {
    width: 2px;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 20px;
    top: 20px;
}

.nav-panel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.nav-panel a {
    color: inherit;
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 50px;
    text-decoration: none;
    opacity: 60%;
    height: 26px;
}

.nav-panel > a:first-child {
    border-bottom: 1px black solid;
    opacity: 100%;
}